<article class="project" id={{dasherize @project.name}}>
  <h2>{{@project.name}}</h2>
  <a href="{{@project.url}}">Website</a>
  {{#each @project.description as |paragraph|}}
    <p>{{paragraph}}</p>
  {{/each}}
</article> 