<h1>Hi!</h1>

<p>Welcome to this resume builder. Is done by a developer, and designed for developers.</p>
<p>If you want, please take a look to the <a href="https://github.com">repo</a>, any improvement is welcome!</p>

<button>Let's get started!</button>